.about-us {
    padding: 20px;
    min-height: 90vh;
    background-image: url('https://assets.entrepreneur.com/content/3x2/1300/20150417194514-listening-music-headphones-marshall-man-people-technology-tunes.jpeg');
}